<div id="container" style>

  <!-- DIV GOES FOR THE PERSONAL INFORMATIO  -->
  <div id="personal-info">
    <h3>Personal info</h3>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label>First name:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value="">
        </div>
      </div>
      <div class="form-group">
        <label >Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value">
        </div>
      </div>
      <div class="form-group">
        <label >Email:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value="">
        </div>
      </div>
      <div class="form-group">
        <label >Username:</label>
        <div class="col-md-8">
          <input class="form-control" type="text" value="">
        </div>
      </div>
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <input type="button" class="btn btn-primary" value="Save Changes">
        <span></span>
        <input type="reset" class="btn btn-default" value="Cancel">
      </div>
    </div>
    <!-- personal information ends here. -->
    </form>

  <!-- DIV FOR THE PASSWORD -->
  <div id="password-update">
    <h3>Password</h3>
    <form>
      <div class="form-group">
        <label class="col-md-3 control-label">Password:</label>
        <div class="col-md-8">
          <input class="form-control" type="password" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Confirm password:</label>
        <div class="col-md-8">
          <input class="form-control" type="password" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <input type="button" class="btn btn-primary" value="Save Changes">
          <span></span>
          <input type="reset" class="btn btn-default" value="Cancel">
        </div>
      </div>
    </form>
  </div>


</div>
<!-- MAIN DIV AS A CONTAINER ENDS HERE -->
