<div id="expanded_resource">
  <div class="container">
   
    <div class="likes-ratings">
      <a href="#" class="btn btn-primary">like</a>
      
      <% include ./_ratings %>
    </div>

  </br></br>

  <div>
    <div>Searchable category tags:</div>
    <div class="tag-badges">
    
    </div>
  </div>

    </br>    
    <div class="form-group comment-form">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </br>
  
  <div class="comments">
    

    
  </div>



  </br>
  <div id="resources_toggle">Back to My Outsights</div>
  </div>
  

</div>
