<div id="my_outsights">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 your-outsights">Your Outsights!</h1>
    <p class="lead outsight-explain">Outsight: the power or act of perceiving external things. </br></br>This is a place to consolidate resources for learning... Learn! (＾▽＾)</br></br>'Like' a resource to add it to Your Outsights</p>
  </div>
  </div>
  <div class="row card-columns">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
          <p class="card-text">Apple pie dragée marshmallow topping. Ice cream jujubes tiramisu sesame snaps fruitcake. Dessert caramels pie.</p>
          <a href="#" class="btn btn-primary">like</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
          <p class="card-text">Chocolate bar pie gummies</p>
          <a href="#" class="btn btn-primary">like</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
            <p class="card-text"> sesame snaps soufflé marzipan chupa chups. Oat cake gummies lollipop cookie dragée.</p>
            <a href="#" class="btn btn-primary">like</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
              <p class="card-text">Biscuit gummies jelly wafer tart tiramisu pie. Cake lemon drops biscuit I love caramels chocolate danish I love cheesecake. .</p>
              <a href="#" class="btn btn-primary">like</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
              <p class="card-text">Chocolate bar macaroon I love sesame snaps croissant. I love tiramisu cake donut croissant jelly-o toffee I love. Danish apple pie tart. Candy lemon drops pie caramels.</p>
              <a href="#" class="btn btn-primary">like</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
                <p class="card-text">Chocolate cake muffin sweet I love cupcake pie lollipop oat cake</p>
                <a href="#" class="btn btn-primary">like</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
                  <p class="card-text">I love icing sweet roll jujubes jujubes. Marzipan fruitcake chupa chups I love pudding cotton candy halvah sesame snaps danish</p>
                  <a href="#" class="btn btn-primary">like</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
                    <p class="card-text">Marzipan tiramisu pudding. Tootsie roll sweet I love lemon drops I love pudding tootsie roll chocolate cake candy canes.</p>
                    <a href="#" class="btn btn-primary">like</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
                    <p class="card-text">hocolate cake muffin sweet I love cupcake pie lollipop oat cake. Sugar plum cupcake pastry I love icing sweet roll jujubes jujubes. Marzipan fruitcake chupa chups I love pudding cotton candy halvah sesame snaps danish.</p>
                    <a href="#" class="btn btn-primary">like</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">Resource name (links to resource)</a></h4>
                      <p class="card-text">Description</p>
                      <a href="#" class="btn btn-primary">like</a>
                    </div>
                  </div>
                </div>
    </div>
</div>
