

<div id="my_outsights">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 your-outsights">Your Outsights!</h1>
    <p class="lead outsight-explain">Outsight: the power or act of perceiving external things. </br></br>This is a place to consolidate resources for learning... Learn! (＾▽＾)</br></br>'Like' a resource to add it to Your Outsights</p>
  </div>
  </div>

  <div class="all-resources row card-columns">
    
    </div>
</div>
