<div id="new-outsight-modal" class="container">
  <!-- Trigger the modal with a button -->
  <button id="new-outsight-button" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Outsight</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div id="new-resource-card" class="container">
            <form action="#" method="post" id="newResourceForm" class="form">
              <div class="get-in-touch">
                <div id="resource-form-textbox" class="form-group">
                  <textarea type="text" class="form-control" id="Title" name="title" placeholder="Title" required/></textarea>
                </div>
                <div id="resource-form-textbox" class="form-group">
                  <textarea type="email" class="form-control" id="URL" name="url" placeholder="URL" required/></textarea>
                </div>
                <div id="resource-form-textbox" class="form-group">
                  <textarea class="form-control" id="Description" rows="3" name="description" placeholder="Description" required></textarea></textarea>
                </div>
                <input id="new-resource-button" type="submit" class="btn btn-primary"  value="Add new resource">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
