<div class="ratings">
  <div class="rating-block">
      <h4>Average user rating</h4>
      <h2 class="bold padding-bottom-7"><span class="average-rating"></span> <small>/ 5</small></h2>
      <button id="1" type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
        <span class="fa fa-star" aria-hidden="true"></span>
      </button>
      <button id="2" type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
        <span class="fa fa-star" aria-hidden="true"></span>
      </button>
      <button id="3" type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
        <span class="fa fa-star" aria-hidden="true"></span>
      </button>
      <button id="4" type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
        <span class="fa fa-star" aria-hidden="true"></span>
      </button>
      <button id="5" type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
        <span class="fa fa-star" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
