#expanded_resource {
  display: none;
}

.ratings {
  float:right
}

#resources_toggle:hover {
  font-weight: bold
}

.checkboxes {
  display:flex;
  justify-content: space-between
}

.average-rating-inner-span {
  padding-left: 5px;
}